.container {
  width: 100%; /* 80% of the viewport width */
  margin: auto; /* Center the container */
  overflow: hidden; /* Clear floats if any */
}

.logo {
  display: block;
  width: 100px;
  height: 100px;
  float: left;
}

#mainHeader {
  background-color: coral; /* Coral background */
  color: #fff; /* White text color */
  text-align: center; /* Center the header content */
}
