* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4; /* Light gray background */
  color: #555; /* Dark gray text color */
  font-family: Arial, Helvetica, sans-serif; /* Font stack for fallback */
  font-size: 16px; /* Base font size */
  line-height: 1.6em; /* Line height for readability */
  margin: 0; /* Remove default margin */
}

.container {
  width: 80%; /* 80% of the viewport width */
  margin: auto; /* Center the container */
  overflow: hidden; /* Clear floats if any */
}

#showcase {
  background-image: url(../images/showcase.jpg);
  background-position: center center;
  min-height: 300px;
  margin-bottom: 30px;
  text-align: center;
}

#showcase h1 {
  color: #fff;
  font-size: 45px;
  line-height: 1.6em;
  padding-top: 30px;
}

#main {
  float: left;
  width: 70%;
  padding: 0 30px;
  box-sizing: border-box;
}

#sidebar {
  float: right;
  width: 30%;
  background: #333;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .container {
    width: 100%; /* Increase width on smaller screens */
  }

  #navbar ul {
    display: flex; /* Use flexbox for horizontal layout */
    flex-direction: column;
    padding: 0;
    list-style: none;
  }

  #navbar li {
    display: block; /* Stack navbar items vertically */
    padding: 10px 0; /* Add padding for better spacing */
  }

  #navbar a {
    padding: 10px; /* Adjust padding for touch screens */
  }

  #main {
    width: 100%; /* Increase width on smaller screens */
    float: none;
  }

  #sidebar {
    width: 100%; /* Increase width on smaller screens */
    float: none;
  }
}
